<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FOTO</title>
</head>
<body><nav>
    <a href="/">Welcome</a> |
    <a href="/customers">Customer management</a> |
    <a href="/customers/registration">Customer registration</a> |
    <a href="/photographers">Photographer management</a> |
    <a href="/photographers/registrationPhoto">Photographer Registration</a> |
    <a href="/orders">Order management</a> |
    <a href="/orders/newOrder">New order </a>
</nav>
<main>
    <h1>Edit photographer</h1>
    <form method="post" th:action="@{/photographers/edit}" th:object="${photographer}">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label for="name">Name: </label>
            <input type="text" id="name" th:field="*{name}" required/>
            <label for="phoneNumber">Phone number: </label>
            <input type="tel" id="phoneNumber" th:field="*{phoneNumber}" required/>
        </div>
        <div th:if="${error}">
            <span> <b> ERROR - Incorrect format of phone number.</b> </span>
        </div>
        <input type="submit" value="Edit"/>
    </form>
</main>
</body>
</html>