<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foto</title>
</head>
<body>
<nav>
    <a href="/">Welcome</a> |
    <a href="/customers">Customer management</a> |
    <a href="/customers/registration">Customer registration</a> |
    <a href="/photographers">Photographer management</a> |
    <a href="/photographers/registrationPhoto">Photographer Registration</a>
    <a href="/orders">Order management</a> |
    <a href="/orders/newOrder">New order </a>
</nav>
<main>
    <h1>Welcome to the internet, have a look around...</h1>
</main>
</body>
</html>